{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to RTcare {% endblock %}</h1>

<div class="alert alert-info">Currently only digital area working. You can only manage BSI security cards at the moment.
    More coming soon!
</div>

<h2>What does it do?</h2>
<p>RTcare lets you manage all the things needed for participation on the german BOSnet. It also lets you manage all your
    Radio Terminals, no matter them being analog or digital and no matter what type (HRT, MRT, FRT) they are. This
    software is very flexible and meant to be used instead of some big and ugly Excel-Sheet</p>

<hr>

<h2>Where do I start?</h2>
<p>First you select the correct area at the top. If you want to manage your digital radio terminals please select
    digital, otherwise select analog</p>

<hr>

<h2>There is a feature missing!</h2>
<p>Please contact the developer via <a href="https://github.com/ablackack"><i class="bi bi-github"></i> github/ablackack</a>,
    open an issue at <a href="https://github.com/ablackack/RTcare/issues"><i class="bi bi-github"></i>
        github/ablackack/RTcare/issues</a>
    or write an email to <a href="mailto:ablackack@gmail.com"><i class="bi bi-envelope-fill"></i> ablackack[at]gmail.com</a>.
    Or if you are a programmer yourself, grab your IDE and start hacking away.</p>
{%endblock%}